@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,700);
body {
  font-family: 'Ubuntu', sans-serif;
}
body #content {
  height: 100vh;
  width: 100vw;
  background-image: url('../images/colorBackground.jpg');
  background-size: 100% 100%;
  color: #FFFFFF;
}
body #content #fullbackground {
  position: absolute;
  z-index: -2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
body #content .major-link {
  position: absolute;
  text-decoration: none;
  color: inherit;
  font-size: 30px;
  top: 65%;
  opacity: 0.8;
  -webkit-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}
body #content .major-link:hover {
  opacity: 1.0;
}
body #content #name {
  position: absolute;
  left: 50%:
      top: 40%;
  font-size: 40px;
  top: 37%;
  left: 50%;
  text-align: center;
  cursor: default;
}
body #content #resume-link {
  left: 25%;
}
body #content #blog-link {
  left: 41%;
}
body #content #github-link {
  left: 59%;
}
body #content #linkedin-link {
  left: 75%;
}
body #blog {
  height: 100vh;
  width: 100vw;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #000000), color-stop(1, #6b6b6b));
  background-image: -o-linear-gradient(bottom, #000000 0%, #6b6b6b 100%);
  background-image: -moz-linear-gradient(bottom, #000000 0%, #6b6b6b 100%);
  background-image: -webkit-linear-gradient(bottom, #000000 0%, #6b6b6b 100%);
  background-image: -ms-linear-gradient(bottom, #000000 0%, #6b6b6b 100%);
  background-image: linear-gradient(to bottom, #000000 0%, #6b6b6b 100%);
  color: white;
}
body #blog #blog-title {
  display: block;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 30px;
  font-size: 40px;
  text-align: center;
}
body #blog #blog-general-description {
  display: block;
  width: 100%;
  padding-bottom: 30px;
  font-size: 25px;
  text-align: center;
}
body #blog #blog-options .blog-options-link {
  display: block;
  width: 200px;
  margin: 20px auto;
  cursor: pointer;
}
