<div id="home-container">
  <!-- <a ui-sref="state1">State 1</a>
  <a ui-sref="state2">State 2</a> -->
  <ul id="nav-links">
    <!-- Routes to states in site use ui-sref from angular-ui-router -->
    <li><a ui-sref="not-home.resume">Resume</a></li>
    <li><a ui-sref="not-home.portfolio">Portfolio</a></li>
    <li><a href="http://github.com/bawjensen" target="_blank">Github<span class="glyphicon glyphicon-new-window"></span></a></li>
    <li><a href="http://linkedin.com/in/bawjensen" target="_blank">LinkedIn<span class="glyphicon glyphicon-new-window"></span></a></li>
  </ul>
</div>