<div ng-repeat="entry in entries | filter: { id: entryId }"> <!-- This will only grab one entry, and thus one div -->
    <h1 class="entry-label">{{entry.label}}</h1>
    <a ng-if="!!entry.externalUrl" href="{{entry.externalUrl}}" class="glyphicon glyphicon-new-window entry-link"></a>

    <p>{{entry.desc ? entry.desc : 'Coming Soon!'}}</p>

    <div ng-switch="!!entry.externalUrl">
        <a ng-href="{{entry.externalUrl}}" ng-switch-when="true"><img ng-src="{{entry.imgUrl}}"></a>
        <img ng-switch-when="false" ng-src="{{entry.imgUrl}}">
    </div>
</div>