<div id="portfolio-description">
  <h3>A Little About Me</h3>
  <p>I'm a recent graduate from Wheaton College (MA) with a Bachelors in Computer Science. Over my college career I learned all the fundamentals of the trade, but I also had fun in my free time working on the things the interested me a little more. At the moment, those interests focus mainly on web development (it's hard to pass up HTML as a tool for creating a great interface) and Neural Networks (because it's almost as if they're intelligent!). You can see these preferences reflected in my portfolio below.</p>
</div>

<a id="portfolio-home" ui-sref="not-home.portfolio"><h3>Portfolio Entries</h3></a>

<div id="portfolio-sidebar" class="col-xs-12 col-sm-3">
  <ul id="portfolio-entry-list">
    <li ng-repeat="entry in entries">
      <a ui-sref="not-home.portfolio.detail({ entryId: entry.id })">{{ entry.label }}</a>
      <span ng-if="!!entry.externalUrl">/</span>
      <a ng-if="!!entry.externalUrl" href="{{entry.externalUrl}}" target="_blank" class="glyphicon glyphicon-new-window entry-link"></a>
    </li>
    <!-- <li><a ui-sref="portfolio">(Clear)</a></li> -->
  </ul>
</div>

<div id="portfolio-detail" class="col-xs-12 col-sm-9" ui-view></div>