<h2 id="resume-title">The Resume:<a href="Jensen_Bryan-Resume.pdf" target="_blank" class="glyphicon glyphicon-new-window external-link"></a></h2>

<iframe id="resume-preview" src="http://docs.google.com/gview?url=https://www.dropbox.com/s/6o8lrdgb0uzwk3h/Jensen_Bryan-Resume.pdf?raw=1&embedded=true" frameborder="0"></iframe>
<!-- <object id="resume-preview" data="https://dl.dropboxusercontent.com/content_link/Fm8KSjlTsfWG1xetAxvGUiuU8Ixbu1rvKUOmwgPH3XRMSteGAgtOjAcp33xFa4I5" type="application/pdf"></object> -->
<!-- <iframe src="https://www.dropbox.com/s/6o8lrdgb0uzwk3h/Jensen_Bryan-Resume.pdf?raw=1#view=FitH" width="" height="" border="0"></iframe> -->

