@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,700);

body {
  background-image: url('../img/colorPulse_V4.jpg');
  background-size: 100vw 100vh;
  background-attachment: fixed;

  font-family: Ubuntu, sans-serif;

  color: white;
}

#name-container {
  width: 100%;
  text-align: center;
  margin-top: 20vh;

  h1 {
    font-weight: normal;
  }
}