@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,700);

#blog:hover {
  cursor: default;
}

html {
  height: 100%;
  width: 100%;

  font-family: 'Ubuntu', sans-serif;
  color: #FFFFFF;
  body {
    height: 100%;
    width: 100%;

    #fullbackground {
      position: absolute;
      z-index: -2;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    #content {
      * {
        position: absolute;
        text-decoration: none;
        color: inherit;
      }

      .iconlink {
        transition-duration: .15s;
      }

      .iconlink:hover {
        -webkit-transform: scale(1.1);
      }

      .major-link {
        font-size: 30px;
        top: 65%;
        opacity: 0.8;

        -webkit-transition: opacity 0.2s ease;
                transition: opacity 0.2s ease;
      }

      .major-link:hover {
        opacity: 1.0;
      }

      #name {
        font-size: 40px;
        top: 37%;
        left: 50%;
        text-align: center;
        cursor: default;
      }

      #resume {
        left: 25%;
      }

      #blog {
        left: 41%;
      }

      #github {
        left: 59%;
      }

      #linkedin {
        left: 75%;
      }
    }
  }
}