// @import url(http://fonts.googleapis.com/css?family=Ubuntu:400,700);

// ul {
//   margin: 0;
//   padding: 0;
// }

// li {
//   display: block;
// }

// a {
//   text-decoration: none;
// }
// a:hover {
//   text-decoration: underline;
// }

body {
  background-image: url('../images/colorBackground.jpg');
  background-size: 100vw 100vh;
}

#content {
  #name {
    font-size: 40px;
    text-align: center;
    cursor: default;
    color: #FFFFFF;

    padding-top: 25vh;

    a {
      text-decoration: none;
      color: #FFFFFF;
    }
  }

  .link-list {
    display: table; // Because logic
    margin: 0 auto;

    padding-top: 30vh;

    li {
      display: inline;

      padding: 0 40px;

      a {
        color: #FFFFFF;

        font-size: 30px;
        opacity: 0.8;

        -webkit-transition: opacity 0.2s ease;
                transition: opacity 0.2s ease;
      }

      a:hover {
        opacity: 1.0;
      }
    }
  }
}

// body {
//   font-family: 'Ubuntu', sans-serif;

//   #content {
//     height: 100vh;
//     width: 100vw;

//     background-image: url('../images/colorBackground.jpg');
//     background-size: 100% 100%;


//     #name {
//       font-size: 40px;
//       text-align: center;
//       cursor: default;

//       padding-top: 25vh;

//       a {
//         text-decoration: none;
//         color: inherit;
//       }
//     }

//     #links {
//       display: table; // Because logic
//       margin: 0 auto;

//       padding-top: 30vh;

//       li {
//         display: inline;

//         padding: 0 40px;

//         a {
//           color: inherit;

//           font-size: 30px;
//           opacity: 0.8;

//           -webkit-transition: opacity 0.2s ease;
//                   transition: opacity 0.2s ease;
//         }

//         a:hover {
//           opacity: 1.0;
//         }
//       }
//     }

//   }

//   #portfolio-content {

//     #project-list {
//       margin-left: 20%;
//       margin-top: 40px;
//       // background-color: white;
//       display: inline-block;
//       color: white;
//       font-size: 30px;

//       padding: 20px;
//       border-radius: 5px;

//       a {
//         color: inherit;
//       }

//       li {
//         display: block;
//         margin-top: 10px;
//       }
//     }
//   }
// }