@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,700);

html, body {
	width: 100%;
	height: 100%;
  font-family: 'Ubuntu', sans-serif;
}

ol, ul {
  padding: 0;
  margin: 0;
}

ol li,
ul li {
  display: block;
}

body {
	/*background-color: #EEEEEE;*/
}

#content {
	height: 100%;
	width: calc(100% - 20px*2);
	margin: 0 auto;
}

header, footer {
  width: 100%;
  text-align: center;
}

header {
  font-size: 40px;
}

footer {
}

#sidebar {
	position: fixed;
  top: 20%;
  left: 0;
  width: 100px;
  text-align: center;
}