@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,700);

.cf {
  &::before,
  &::after {
    content: " ";
    display: table;
  }

  &::after {
    clear: both;
  }
}

// ==================================== General Stuff ================================

body {
  background-image: url('../img/colorBackground.jpg');
  background-size: 100vw 100vh;

  font-family: Ubuntu, sans-serif;

  color: white;
}

a {
  color: inherit;
  opacity: 0.8;
}

a:hover {
  color: inherit;
  opacity: 1.0;

  -webkit-transition: opacity 0.2s ease;
          transition: opacity 0.2s ease;
}

// ==================================== Front page ===================================
#content {
  #name {
    font-size: 40px;
    text-align: center;
    cursor: default;
    color: #FFFFFF;

    padding-top: 25vh;

    a {
      text-decoration: none;
      color: #FFFFFF;
    }
  }

  .link-list {
    text-align: center; // Bootstrap magic?

    padding-top: 30vh;
    padding-left: 0;


    li {
      display: inline-block;
      padding: 10px 40px;
      font-size: 30px;
    }
  }
}

// ==================================== Portfolio ====================================


#project-container {
  padding-top: 10vh;

  #project-list {
    li {
      cursor: pointer;
      display: block;

      font-size: 25px;

      span {
        font-size: 15px;
      }
    }
  }

  #project-info {
    @padding: 20px;

    background-color: rgba(255, 255, 255, 0.5);
    padding: @padding;
    border-radius: 10px;

    .cf;

    min-height: @padding * 2 + 30px;


    font-size: 20px;
    & > div:not(:first-child) {
    // & > div {
      display: none;
    }

    & > div {
      position: absolute;
    }
  }
}