#blog-container
  span.glyphicon.glyphicon-home.state-transition#back-home(data-state='home')
  ul#topics-container
    each topic, topicName in topicsObj
      li.state-transition(data-state='topic' id=topicName)= topic.displayName
