if topic.posts
  each post in topic.posts
    div.post
      h1.state-transition(data-state='post')= post.title
      .preview!= post.preview + '...'
      .text!= post.text
else
  |There's nothing here!